body.dark-mode {
  background-color: #121212;
  color: #f5f5f5;
}

body.dark-mode .App {
  background-color: #121212;
  color: #f5f5f5;
}

body.dark-mode button {
  background-color: #333;
  color: #f5f5f5;
  border: 1px solid #777;
}

button {
  padding: 8px 12px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}